Repository dataforgoodfr/ome-hackathon-season-14: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-yml-file, export-requirements

forbid-yml-file:
  name: Forbid .yml extension
  entry: Yaml file must have the .yaml extension
  language: fail

export-requirements:
  name: export-requirements
  language: system
  entry: make export-requirements
  pass_filenames: false

chore: Cleanup code
  .gitignore
  README.md
  common/__init__.py
  common/logs.py
  docker-compose.yaml
  inference/Dockerfile
  inference/__init__.py
  inference/database_connection.py
  inference/logs.py
  inference/models.py
  inference/predict.py
  train/Dockerfile
  train/__init__.py
  train/train.py
Due: none

refactor: Package the codebase
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  docker-compose.yaml
  inference/Dockerfile
  inference/__init__.py
  inference/database_connection.py
  pyproject.toml
  requirements.txt
  src/reporto/__init__.py
  src/reporto/__main__.py
  src/reporto/_logging.py
  src/reporto/cli.py
  src/reporto/db/__init__.py
  src/reporto/db/connection.py
  src/reporto/db/helpers.py
  src/reporto/db/models.py
  src/reporto/db/settings.py
  src/reporto/evaluation.py
  src/reporto/labels.py
  src/reporto/py.typed
  train/Dockerfile
  train/__init__.py
  train/train.py
  uv.lock
Due: export-requirements

refactor: Rework cli
  pyproject.toml
  src/reporto/cli/__init__.py
  src/reporto/cli/_main.py
  src/reporto/cli/_run.py
  src/reporto/labels.py
Due: export-requirements

feat: init
  .python-version
  README.md
  dataset/explore.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: export-requirements

fix: Add default args in Dockerfile
  Dockerfile
Due: none

fix(docker): Fix executable in Dockerfile
  Dockerfile
Due: none

feat: setup project
  README-subject.md
  README.md
  dataset/explore.py
  inference/database_connection.py
  pyproject.toml
  setup.sh
  uv.lock
Due: export-requirements

fix(cli): Require model_path in predict
  src/reporto/cli/_run.py
Due: none

dataset agri
  explo.ipynb
Due: none

fix(cli): Better error on missing model
  src/reporto/cli/_main.py
  src/reporto/cli/_run.py
Due: none

add libs with uv
  PROTOCOLE_EXTRACTION_MOTS_CLES.md
  explo.ipynb
  key-words/main.py
  pyproject.toml
  uv.lock
Due: export-requirements

feat: add first sentimentent anaylysis
  dataset/train_agriculture_with_sentiment.csv
  dataset/train_agriculture_with_sentiment.parquet
  pyproject.toml
  sentiment/sentiment_analysis.py
  uv.lock
Due: export-requirements

feat: enhance basic setup
  .gitignore
  dataset/train_agriculture_with_sentiment.csv
  dataset/train_agriculture_with_sentiment.parquet
  examples/README.md
  examples/example_usage.py
  main/__init__.py
  main/main.py
  sentiment/README.md
  sentiment/sentiment_analysis.py
Due: none

feat(cli): Add compute-dataset-stats
  pyproject.toml
  src/reporto/cli/_run.py
  uv.lock
Due: export-requirements

feat(cli): Add --output-path in predict
  src/reporto/cli/_run.py
Due: none

Initial commit
  report.md
Due: none

Cleaning method
  processing/cleaning.py
Due: none

update method name
  processing/cleaning.py
Due: none

First data viz commit
  .gitignore
  README.md
  pyproject.toml
  scripts/data_viz_app.py
  scripts/download_dataset.py
Due: export-requirements

fix(ci): remove conv commits
  .pre-commit-config.yaml
Due: none

add task1
  src/reporto/evaluation.py
  src/reporto/labels.py
Due: none

task1
  src/reporto/cli/_run.py
Due: none

feat: add only sentiment analysis
  sentiment/sentiment_analysis.py
Due: none

Segment text
  processing/interface.py
  processing/orchestrator.py
  processing/segment.py
Due: none

feat(Cli): add webserrver
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/ome-hackathon-season-14.iml
  .idea/vcs.xml
  cli/webserver.py
  pyproject.toml
  uv.lock
Due: export-requirements

feat(Webserver): cli
  inference/cli/main.py
Due: none

get key-words
  key-words/key-words.py
Due: none

clara v1 nlp
  explo.ipynb
  explo_NER_clara.ipynb
Due: none

feat: start of architecture
  API_QUICKSTART.md
  IMPLEMENTATION_SUMMARY.md
  api/Dockerfile
  api/README.md
  api/__init__.py
  api/config.py
  api/database/__init__.py
  api/database/database_connection.py
  api/database/logs.py
  api/database/models.py
  api/main.py
  api/test_api.py
  cli/webserver.py
  docker-compose.yml
  inference/README.md
  inference/__init__.py
  inference/cli/main.py
  pyproject.toml
  sentiment/Dockerfile
  sentiment/api.py
Due: forbid-yml-file, export-requirements

key-words
  .gitignore
  key-words/main.py
  pyproject.toml
Due: export-requirements

scorer
  scoring.py
Due: none

fix: docker compose
  api/Dockerfile
  api/__init__.py
  api/config.py
  api/database/models.py
  api/main.py
  api/test_api.py
  dataset/explore.py
  docker-compose.yml
  examples/example_usage.py
  inference/models.py
  main/__init__.py
  main/main.py
  pyproject.toml
  sentiment/Dockerfile
  sentiment/api.py
  sentiment/sentiment_analysis.py
  train/Dockerfile
  train/train.py
  uv.lock
Due: forbid-yml-file, export-requirements

fix: docker-compos healthcheck pg
  docker-compose.yml
Due: forbid-yml-file

chore: refactor a bit
  cli/Dockerfile
  cli/README.md
  cli/__init__.py
  cli/config.py
  cli/database/__init__.py
  cli/database/database_connection.py
  cli/database/logs.py
  cli/database/models.py
  cli/deduplication.py
  cli/main.py
  cli/test_api.py
Due: none

Path conditions:
  forbid-yml-file: any of: .*\.yml
  export-requirements: any of: ^(pyproject.toml|requirements.txt)$
